body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header {
    background-color: #FFF;
}

.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo .accent {
    color: #2E2F42;
}

.nav-link {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-link:hover {
    color: #404BBF;  
}

.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-link {
    color: #434455; 
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover {
    color: #404BBF;
}

.address-link:focus {
    color :#404bbf;
}

.solutions-section {
    background-color: #2E2F42;
}

.solutions-header {
    color: #FFF;
    font-family: Roboto; sans-serif;
    text-align: center;
    font-size: 56px;
    font-weight: 500;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.solutions-header:hover {
    background-color: #404BBF;
}

.solutions-button {
    font-family: "Roboto", sans-serif;
    color: #FFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
}

.solutions-button:hover {
    background-color: #404BBF;
}

.solutions-button:focus {
    background-color: #404BBF;
}

.our-advantages-section {
    background-color: #FFF;
}

.header-normal {
    color: #2e2f42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-p {
    color: #434455;
    font-family: Roboto; 
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-team-section {
    background-color: #F4F4FD;
}

.team-title {
    color: #2e2f42;
    font-family: Roboto;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-li {
    background-color: #FFFFFF;
}

.our-portfolio-section {
    background-color: #FFF;
}

.portfolio-title {
    color: #2e2f42;
    font-family: Roboto;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.footer {
    background-color: #2E2F42;
}

.logo-footer {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-accent-footer {
    color: #F4F4FD;
}

.footer-p {
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}